pip install dtale Versión 2.6.0)
https://pypi.org/project/dtale/

In [4]:
import pandas as pd
url = 'https://github.com/chris1610/pbpython/blob/master/data/2018_Sales_Total_v2.xlsx?raw=True'
df = pd.read_excel(url)

df

,account number,name,sku,quantity,unit price,ext price,date
0,740150,Barton LLC,B1-20000,39,86.69,3380.91,2018-01-01 07:21:51
1,714466,Trantow-Barrows,S2-77896,-1,63.16,-63.16,2018-01-01 10:00:47
2,218895,Kulas Inc,B1-69924,23,90.70,2086.10,2018-01-01 13:24:58
3,307599,"Kassulke, Ondricka and Metz",S1-65481,41,21.05,863.05,2018-01-01 15:05:22
4,412290,Jerde-Hilpert,S2-34077,6,83.21,499.26,2018-01-01 23:26:55
...,...,...,...,...,...,...,...
1502,424914,White-Trantow,B1-69924,37,42.77,1582.49,2018-11-27 14:29:02
1503,424914,White-Trantow,S1-47412,16,65.58,1049.28,2018-12-19 15:15:41
1504,424914,White-Trantow,B1-86481,75,28.89,2166.75,2018-12-29 13:03:54
1505,424914,White-Trantow,S1-82801,20,95.75,1915.00,2018-12-22 03:31:36
1506,424914,White-Trantow,S2-83881,100,88.19,8819.00,2018-12-16 00:46:26

C:\Users\susan\anaconda3\envs\InstitutoDS\lib\site-packages\dtale\views.py:1929: FutureWarning:

The default value of regex will change from True to False in a future version.

In [3]:
import dtale

dtale.show(df)

Executing shutdown due to inactivity...

2022-07-26 19:22:22,900 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...

2022-07-26 19:22:27,016 - INFO     - Executing shutdown...

Exception on /shutdown [GET]
Traceback (most recent call last):
  File "C:\Users\susan\anaconda3\envs\InstitutoDS\lib\site-packages\flask\app.py", line 2077, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\susan\anaconda3\envs\InstitutoDS\lib\site-packages\flask\app.py", line 1525, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\susan\anaconda3\envs\InstitutoDS\lib\site-packages\flask\app.py", line 1523, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\susan\anaconda3\envs\InstitutoDS\lib\site-packages\flask\app.py", line 1509, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "C:\Users\susan\anaconda3\envs\InstitutoDS\lib\site-packages\dtale\app.py", line 410, in shutdown
    shutdown_server()
  File "C:\Users\susan\anaconda3\envs\InstitutoDS\lib\site-packages\dtale\app.py", line 396, in shutdown_server
    raise RuntimeError("Not running with the Werkzeug Server")
RuntimeError: Not running with the Werkzeug Server

2022-07-26 19:22:27,020 - ERROR    - Exception on /shutdown [GET]
Traceback (most recent call last):
  File "C:\Users\susan\anaconda3\envs\InstitutoDS\lib\site-packages\flask\app.py", line 2077, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\susan\anaconda3\envs\InstitutoDS\lib\site-packages\flask\app.py", line 1525, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\susan\anaconda3\envs\InstitutoDS\lib\site-packages\flask\app.py", line 1523, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\susan\anaconda3\envs\InstitutoDS\lib\site-packages\flask\app.py", line 1509, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "C:\Users\susan\anaconda3\envs\InstitutoDS\lib\site-packages\dtale\app.py", line 410, in shutdown
    shutdown_server()
  File "C:\Users\susan\anaconda3\envs\InstitutoDS\lib\site-packages\dtale\app.py", line 396, in shutdown_server
    raise RuntimeError("Not running with the Werkzeug Server")
RuntimeError: Not running with the Werkzeug Server